@import model.Book
@import play.data.Form

@(bookForm : Form[Book])

<html>
    <head>
        <title>
            Edit Book
        </title>
    </head>
    <body>
        <h1> Edit Book</h1>
        @helper.form(action=routes.BooksController.update()){
            @helper.inputText(bookForm("id"))
            @helper.inputText(bookForm("title"))
            @helper.inputText(bookForm("price"))
            @helper.inputText(bookForm("author"))

            <input type="submit" value="Edit Book">
        }
        <form action="/books/create" method="post">
        </form>
    </body>
</html>